
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 ::after ::before{
   box-sizing: inherit;
 }

 .container{
   background-color: hsl(212, 45%, 89%);
   max-width: 90vw;
   min-height: 80vh;
   margin: 80px 50px;
   border-radius: 5px;
   box-shadow: 10px 10px  15px rgba(0, 0, 0, 0.12);
   display: flex;
   justify-content: center;
   align-items: center; 
 }
 .card{
   background-color: hsl(0, 0%, 100%);
   width: 180px;
   height: 300px;
   border-radius: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
 }

 .card img{
   object-fit: cover;
   width: 100%;
   height: 50%;
   border-radius: 10px;
 }

 .card h3{
   font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: hsl(218, 44%, 22%)
 }

 .card p{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: hsl(216, 15%, 48%);
  padding: 10px;
 }
 